<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>gisportal</display-name>
	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>faces/view/index.xhtml</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/view/error.xhtml</location>
	</error-page>
	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/gisportal.taglib.xml</param-value>
	</context-param>
	<persistence-context-ref>
		<persistence-context-ref-name>jpa/EntityManager</persistence-context-ref-name>
		<persistence-unit-name>projectPU</persistence-unit-name>
	</persistence-context-ref>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SecurePages</web-resource-name>
			<description>Estas paginas junto con su metodo http solo son accedidas por usuarios autenticados.</description>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>DELETE</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>TRACE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>Definicion del rol de acceso a la aplicacion.</description>
			<role-name>SamlPortalGIS</role-name>
		</auth-constraint>
		<user-data-constraint>
			<description>Esto determinta como la información es transmitida entre cliente y servidor. Para el caso particular del proyecto el valor es el que se menciona a continuacion</description>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>CLIENT-CERT</auth-method>
		<realm-name>myrealm</realm-name>
	</login-config>
	<security-role>
		<description>Este es el rol definido para permitir el acceso a la aplicacion</description>
		<role-name>SamlPortalGIS</role-name>
	</security-role>
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/view/index.xhtml</location>
	</error-page>
</web-app>